.portfolio-grid {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.portfolio-grid li {
    display: inline-block;
    margin: 5px 5px 5px 5px;
    vertical-align: top;
    width: 212px;
}

.portfolio-grid li>a, .portfolio-grid li>a img {
    width: 100%;
    border: none;
    outline: none;
    display: block;
    position: relative;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.portfolio-grid li>a img:hover {
    border-radius: 30%;
    z-index: 9999;
}
