body {
  margin: auto;
  text-align: center;
}

.admintxt {
    width: 70%;
    height: 150px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid;
    background-color: #CC4949;
    font-size: 0.9em;
}


h1, h2 {
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  padding-top: 10px;
}

h2 {
  margin-bottom: 0px;
}

input[type=text] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=password] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#logout {
     margin-top: 1px;
     margin-right: 2px;
     position:absolute;
     top:0;
     right:0;
}

input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
}
